section.Projects1{
    & .title{
        margin-top: 100px;
        text-align: center;
        font-size: 5vw;
        font-family: 'MuseoModerno', system-ui;
    }
   
    & .list{
        margin-top: 50px;
        & .item{
            margin-bottom: 10px;
            max-width: 800px;
            & .images{
                background-image: linear-gradient(
                    -45deg, #473bb4, #be24a9
                );
                padding: 25px;
                border-radius: 20px;
                overflow: hidden;
                & .mainValue{
                    font-weight: bold;
                }
                
                
            }
           
        }
        
    }
  }

 